#latest{
    padding: 50px 0;
}

#latest .header{
    padding: 50px 0;
}

#latest .header:after{
    content: "";
    display: table;
    clear: both;
}

#latest .header h1{
    color: #6066f2;
    font-size: 3rem;
    display: inline-block;
    float: left;
    font-size: 4.2rem;
    max-width: 400px;
    width: 100%;
}

#latest .header .directions{
    display: inline-block;
    float: right;
    position: relative;
    top: 35px;
}

#latest .header .directions .move-left{
    padding: 20px 70px;
    font-size: 3rem;
    color: white;
    background:#6066f2;
    float: left;
    border: 1px solid #6066f2;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}

#latest .header .directions .move-right{
    padding: 20px 70px;
    font-size: 3rem;
    color: #cecece;
    background:white;
    float: right;
    border: 1px solid #cecece;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* body */
#latest .body{
    padding: 100px 0;
}

 #latest .body:after{
    content: "";
    display: table;
    clear: both;
}

#latest .body .column{
    width: 33.33%;
    float: left;
    padding: 0 15px;
    text-align: center;
}

#latest .body .column .bg-square{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #f2dd6e;
    background-image: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);   
    position: relative;
    border-radius: 3px;
}

#latest .body .column:nth-child(2) .bg-square{
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
}

#latest .body .column:nth-child(3) .bg-square{
    background-color: #cdedfd;
    background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
}

#latest .body .column .bg-square img{
     width: 120%;
     position: absolute;
     top: -40%;
     left: -11%;
}

#latest .body .column .bg-square .cart{
    width: 80px;
    height: 80px;
    position: absolute;
    right: -47px;
    top: -47px;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);    
    border: 10px solid white;
    border-radius: 50%;
    color: white;
}

#latest .body .column .bg-square .cart .fas{
    font-size: 2rem;
    top: 15px;
    left: -1px;
    position: relative;
}

#latest .body .column .line{
    width: 20%;
    height: 2px;
    background: #663dff;
    margin: 50px auto;
    display: inline-block;
}

#latest .body .column .price{
    color: #FEA83b;
    font-weight: 700;
    font-size: 2.3rem;
}

/* footer */

#latest .footer{
    text-align: center;
    position: relative;
}

#latest .footer img{
    width: 40%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 27%;
    filter: grayscale(100%) invert(100%);
    opacity: .1;
    transform: rotate(10deg);
}

#latest .footer .info-box{
    position: relative;
    z-index: 2;
    padding: 200px 0;
}

#latest .footer .info-box h2{
    color:#663dff;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

#latest .footer .info-box  form{ 
    vertical-align: top;
    display: inline-block;
    margin: 0 auto;
}

#latest .footer .info-box .input-area{
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    background: white;
    float:left;
}


#latest .footer .info-box .input-area .fa{
    font-size: 2rem;
    position: relative;
    top: 6px;
    margin-left: 15px;
    color:#d5e2ea
 }

#latest .footer .info-box .input-area:nth-child(1){
     height: 80px;
     margin-right: 50px;
 }

#latest .footer .info-box .input-area input{
    padding: 10px;
    background:white;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    width: 230px;
}

#latest .footer .info-box .input-area:nth-child(1) input{
    position:relative;
    top: 13px;
}

#latest .footer .info-box .input-area:nth-child(1) .fas{
    position:relative;
    top: 8px;
    color:#d5e2ea;
    font-size: 1.2em;
    top: 12px;
    margin-left: 10px;
}

#latest .footer .info-box .input-area button{
    padding: 20px 50px;
    background:#6066fc;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

/* laptops */
@media only screen and (max-width: 1215px) {
    
}
/* tablets */
@media only screen and (max-width: 1023px) {
    #latest .header h1{
        font-size: 3.5rem;
    }

    #latest .header .directions{
        top: 18px;
    }

    #latest .body .column{
        width: 50%;
        margin-bottom: 150px;
    }
    #latest .footer img{
        width: 50%;
        top: 100px;
    }

    #latest .footer .info-box form{
        width: 80%;
    }

    #latest .footer .info-box .input-area  .fa {
        position: relative;
        top: 14px;
        margin-left: 0px;
        float:left;
        width: 15%;
        text-align: center;
    }

    #latest .footer .info-box .input-area  input[type="email"] {
        position: relative; 
        top: 12px;
        width: 50%;
        float: left;
    }

    #latest .footer .info-box .input-area  button {
        padding: 20px 0px;
        background: #6066fc;
        width: 35%;
        float: left;
        font-size: 1rem;
    }

    #latest .footer .info-box .input-area:nth-child(1){
        margin: 0;
        width: 50%;
    }

    #latest .footer .info-box .input-area:nth-child(1) input{
        margin: 0;
        width: 80%;
    }

    #latest .footer .info-box .input-area:nth-child(2){
        margin: 0;
        width: 50%;
    }
}
/* mobile */
@media only screen and (max-width: 767px) {
    #latest .header {
        text-align: center;
    }

    #latest .header h1{
        font-size: 3rem;
        text-align: center;
        width: 100%;
        max-width: none;
    }

    #latest .header .directions{
        float: none;
        position: static;
        margin: 50px auto;
    }

    #latest .body .column{
        width: 100%;
        margin-bottom: 150px;
    }

    #latest .body .column .bg-square {
        transform: scale(.8);
    }

    #latest .footer .info-box .input-area  .fa {
        position: relative;
        top: 14px;
        margin-left: 0px;
        float:left;
        width: 15%;
        text-align: center;
    }

    #latest .footer .info-box .input-area  input[type="email"] {
        position: relative; 
        top: 12px;
        width: 50%;
        float: left;
    }

    #latest .footer .info-box .input-area  button {
        padding: 20px 0px;
        background: #6066fc;
        width: 35%;
        float: left;
        font-size: 1rem;
    }

    #latest .footer .info-box .input-area:nth-child(1){
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    #latest .footer .info-box .input-area:nth-child(2){
        margin: 0;
        width: 100%;
    }

}