#top-jumbo {
  padding: 0 0 300px 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 40%,
    #ffffff 40%,
    #9148d6 72%,
    #e062d5 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 40%,
    #ffffff 40%,
    #9148d6 72%,
    #e062d5 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 40%,
    #ffffff 40%,
    #9148d6 72%,
    #e062d5 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 60%;
  display: inline-block;
  float: left;
  padding: 30px;
}

#top-jumbo .left-side .large-number {
  font-size: 300px;
  font-weight: 700;
  opacity: 0.1;
  color: #4c44c1;
  position: relative;
  left: -20px;
  z-index: 1;
}

#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}

#top-jumbo .left-side .info-container h1 {
  font-size: 4.5rem;
  color: #4c44c1;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

#top-jumbo .left-side .info-container p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #aaacaf;
  line-height: 1.5;
  margin-bottom: 20px;
}

#top-jumbo .left-side .email-area {
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
}

#top-jumbo .left-side .email-area .fa {
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 15px;
  color: #d5e2ea;
}

#top-jumbo .left-side .email-area input[type="email"] {
  padding: 10px;
  background: white;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  width: 220px;
}

#top-jumbo .left-side .email-area button {
  padding: 20px 50px;
  background: #6066fc;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

/* right side */
#top-jumbo .right-side {
  width: 40%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}

#top-jumbo .right-side img {
  width: 100%;
}

/* laptops */
@media only screen and (max-width: 1215px) {
  #top-jumbo .left-side .email-area {
    width: 100%;
  }

  #top-jumbo .left-side .email-area .fa {
    position: relative;
    top: 14px;
    margin-left: 0px;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .email-area input[type="email"] {
    position: relative;
    top: 12px;
    width: 50%;
    float: left;
  }

  #top-jumbo .left-side .email-area button {
    padding: 20px 0px;
    background: #6066fc;
    width: 35%;
    float: left;
    font-size: 1rem;
  }
}
/* tablets */
@media only screen and (max-width: 1023px) {
  #top-jumbo {
    padding: 0 0 300px 0;
  }
  #top-jumbo .left-side {
    width: 40%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }

  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
  }

  #top-jumbo .left-side .email-area {
    width: 100%;
  }

  #top-jumbo .left-side .email-area .fa {
    position: relative;
    top: 14px;
    margin-left: 0px;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .email-area input[type="email"] {
    position: relative;
    top: 12px;
    width: 50%;
    float: left;
  }

  #top-jumbo .left-side .email-area button {
    padding: 20px 0px;
    background: #6066fc;
    width: 35%;
    float: left;
    font-size: 1rem;
  }

  #top-jumbo .right-side {
    width: 60%;
  }

  #top-jumbo .right-side img {
    width: 110%;
    position: relative;
    top: 100px;
  }
}

/* mobile */
@media only screen and (max-width: 767px) {
  #top-jumbo {
    padding: 0 0 200px 0;
  }

  #top-jumbo .left-side {
    width: 100%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }

  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
  }

  #top-jumbo .left-side .email-area {
    width: 100%;
  }

  #top-jumbo .left-side .email-area .fa {
    position: relative;
    top: 14px;
    margin-left: 0px;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .email-area input[type="email"] {
    position: relative;
    top: 12px;
    width: 50%;
    float: left;
  }

  #top-jumbo .left-side .email-area button {
    padding: 20px 0px;
    background: #6066fc;
    width: 35%;
    float: left;
    font-size: 1rem;
  }

  #top-jumbo .right-side {
    width: 100%;
  }

  #top-jumbo .right-side img {
    position: relative;
    top: 0;
    margin-bottom: 50px;
  }
}
